* {
	padding: 0;
	margin: 0;
	font-family: var(--font-family), sans-serif;
	color: var(--white);
	box-sizing: border-box;
	font-variant-numeric: lining-nums;
}
body {
	background-color: var(--dark);
}
#app {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.app-layout,
.page-view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.content-box {
	padding: var(--base-gap) var(--small-gap);
	display: flex;
	flex-direction: column;
	grid-gap: var(--large-gap);
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
	line-height: 110%;
}


h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}

svg {
	path {
		transition: fill .3s ease-in, stroke .3s ease-in;
	}
}

.icon {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: auto;
	svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}