.app-logo {
	color: var(--white);
	font-weight: 500;
	font-size: 20px;
	display: flex;
	text-decoration: none;
	background-color: transparent;
}

#header {
	width: 100%;
	background-color: var(--grey);
	padding: var(--small-gap) var(--base-gap);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--base-gap);
}
.user-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--small-gap);
	padding: var(--small-gap);
	border-radius: 10px;
	background-color: var(--dark);
	&__icon {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
		.icon {
			width: 20px;
			height: 20px;
			svg {
				path {
					fill: var(--dark);
				}
			}
		}
	}
	&__email {
		font-weight: 500;
	}
}

.logout-button {
	width: 24px;
	height: 24px;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	&:hover {
		svg {
			path {
				fill: var(--light-grey);
			}
		}
	}
}

.routes-line {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 20px;
	margin-bottom: 20px;
	.route-line {
		font-size: 20px;
		font-weight: 500;
		color: var(--light-grey);
		&.router-link-exact-active,
		&:hover {
			color: var(--white);
		}
	}
}
.map-markers,
.map-mark-setter {
	width: 100%;
}
.map-markers {
	height: 200px;
	transition: height .3s ease-in;
	&:hover {
		height: 350px;
	}
}
.map-marker-icon {
	position: relative;
	width: 35px;
	height: 35px;
}

.posts {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--base-gap);
}

.post-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: var(--grey);
	border-radius: 10px;
	padding: var(--small-gap);
	&[disabled=true] {
		opacity: 0.5;
		pointer-events: none;
	}
	&__image-holder {
		width: 100%;
		border-radius: var(--small-gap);
		background-color: var(--light-grey);
		aspect-ratio: 2 / 1;
		max-height: 350px;
		margin-bottom: var(--base-gap);
		object-fit: cover;
	}
	.post-card__title {
		margin-bottom: var(--small-gap);
	}
	.post-card__desc {
		font-size: 12px;
		color: var(--light-grey);
	}
	.post-card__date {
		margin-left: auto;
		font-size: 10px;
		font-weight: 300;
		color: var(--light-grey);
		margin-top: var(--small-gap);
	}
}


.mobile-bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--base-gap);
	background-color: var(--dark);
	padding: var(--small-gap) var(--base-gap);
	border-top: 1px solid var(--light-grey);
	&__link {
		&.router-link-exact-active {
			.icon {
				svg {
					path {
						fill: var(--white);
					}
				}
			}
		}
	}
	.icon {
		width: 30px;
		height: 30px;
		svg {
			path {
				fill: var(--light-grey);
			}
		}
	}
}