/*=========== SIGN MODULE ===========*/
.sign-module {
	width: 100%;
	height: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--grey);
	border-radius: 10px;
	padding: 40px 30px;
	.sign-component {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: var(--large-gap);
		&__title {
			text-align: center;
			width: 100%;
			text-transform: uppercase;
			margin-bottom: var(--base-gap);
		}
		.annotation {
			margin: var(--large-gap) auto 0;
		}
	}
	.sign-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--small-gap);
		&[disabled=true] {
			opacity: 0.5;
			pointer-events: none;
		}
		.btn {
			margin: var(--small-gap) auto 0;
		}
	}
}

/*========== NOTICES MODULE ===========*/
#notices-module {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	width: 240px;
	z-index: 99999;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
	gap: 10px;
	ul {
		width: 100%;
	}
	.notice {
		width: 100%;
		background-color: var(--green);
		border-radius: 10px;
		padding: 10px;
		position: relative;
		pointer-events: all;
		margin: 5px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 10px;
		&.warning {
			background-color: var(--orange);
		}
		&.error {
			background-color: var(--red);
		}
		&__message {
			color: var(--white);
			font-size: 14px;
			font-weight: 700;
			word-break: break-word;
		}
		&__close {
			cursor: pointer;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: var(--white);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			svg {
				object-fit: contain;
				width: 10px;
				height: 10px;
			}
			&:hover {
				svg {
					path {
						fill: var(--red);
					}
				}
			}
		}
	}
	.list-enter-active,
	.list-leave-active {
		transition: all 0.5s ease;
	}
	.list-enter-from,
	.list-leave-to {
		opacity: 0;
		transform: translateX(30px);
	}
}

/*============ PROFILE MODULE ============*/
.profile-module {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--base-gap);
	.profile-logout-button {
		height: unset;
		border: 1px solid var(--red);
		background-color: var(--red);
		color: var(--white);
		width: 100%;
		font-weight: 600;
		&:hover {
			background-color: transparent;
			color: var(--red);
		}
	}
}

/*=========== USER POSTS MODULE ============*/
.users-posts-module {
	.map-markers {
		margin-bottom: var(--base-gap);
	}
}