.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: var(--dark);
	padding: 17px 25px;
	border-radius: 10px;
	background-color: var(--white);
	border: 1px solid var(--white);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	transition: background-color .3s ease-in, border-color .3s ease-in, color .3s ease-in;
	width: fit-content;
	&:hover {
		background-color: var(--dark);
		border-color: var(--dark);
		color: var(--white);
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.form-input {
	width: 100%;
	&.password-input {
		input {
			padding-right: 45px;
		}
		.input-holder {
			position: relative;
		}
		.toggle-password {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			cursor: pointer;
			outline: none;
			border: none;
			&:focus,
			&:hover {
				svg {
					path {
						fill: var(--light-grey);
					}
				}
			}
		}
	}
	.input-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		color: var(--light-grey);
		margin-bottom: 10px;
	}
	.input-subtitle {
		font-weight: 400;
		font-size: 13px;
		line-height: 130%;
		color: var(--text);
		margin-bottom: 10px;
	}
}
textarea,
input[type=text],
input[type=password],
input[type=date],
input[type=tel],
input[type=search],
input[type=email],
input[type=number] {
	width: 100%;
	padding: 16px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	color: var(--white);
	border-radius: 10px;
	background-color: var(--dark);
	border: 1px solid var(--dark);
	outline: none;
	&::placeholder {
		color: var(--light-grey);
	}
	&:focus {
		border-color: var(--light-grey);
	}
	&.error {
		border-color: var(--red) !important;
		color: var(--red) !important;
	}
	&.white {
		background-color: var(--white);
		border: 1px solid var(--white);
		color: var(--grey);
		&:focus {
			border-color: var(--dark);
		}
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
textarea {
	resize: none;
	height: 100px;
}
span[role=alert] {
	color: var(--red);
	font-size: 12px;
	margin-top: 5px;
}

input[type=search] {
	padding-right: 35px;
	//background-image: url('../images/search.svg');
	background-size: 20px 20px;
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 1em;
		width: 1em;
		border-radius: 50em;
		//background: url('../images/close.svg') no-repeat 50% 50%;
		background-size: contain;
		opacity: 0;
		pointer-events: none;
		cursor: pointer;
	}

	&:focus::-webkit-search-cancel-button {
		opacity: 1;
		pointer-events: all;
	}
}

.module-title {
	margin-bottom: var(--base-gap);
}

.form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: var(--grey);
	border-radius: 10px;
	padding: 30px 20px;
	gap: var(--base-gap);
	&[disabled=true] {
		opacity: 0.5;
		pointer-events: none;
	}
}

.__ymap {
	border-radius: var(--small-gap);
	overflow: hidden;
}