/*======== IMPORT FONTS ============*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
	--font-family: 'Raleway';
	--dark: #222831;
	--grey: #393E46;
	--orange: #D65A31;
	--light-grey: #a2a2a2;
	--white: #fff;
	--red: #d51616;
	--dark-red: #c00000;
	--green: #28be28;

	--extra-small-gap: 5px;
	--small-gap: 10px;
	--base-gap: 20px;
	--large-gap: 30px;
}